<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Event</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">List</a></li>
</ol>


<h1 class="page-header">Event Page</h1>
<br>
<div>
  <panel title="Event Table">
    <div class="table-responsive">
      <table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
        <thead>
        <tr>
          <th>#</th>
          <th>Event Name</th>
          <th>isFree</th>
          <th>City</th>
          <th>District</th>
          <th class="width-200">Event Date</th>
          <th class="width-100">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" *ngFor="let event of model">
          <td>{{event.EntertainmentID}}</td>
          <td >{{event.EntertainmentName}}</td>
          <td [ngSwitch]="event.EntertainmentisFree">
            <span *ngSwitchCase=0>Ücretsiz</span>
            <span *ngSwitchCase=1>Ücretli</span>
          </td>
          <td>{{event.EntertainmentCity}}</td>
          <td>{{event.EntertainmentDistrict}}</td>
          <td>{{event.EntertainmentStartDate | date:'mediumDate'}}
          <td class="text-center">
            <button (click)="details(modalDialog2,event.EntertainmentID)" class="btn btn-xs btn-info m-r-10 mb-0">Details</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </panel>
</div>




<ng-template #modalDialog2 let-c="close" let-d="dismiss">
  <div class="modal-header" >
    <h4 class="modal-title">Event Details</h4>
    <button type="button" style="color: white" class="close" (click)="d('Cross click')">×</button>
  </div>
  <div class="m-l-25 m-t-20">
    <form>
      <fieldset>
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">Event Name</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="{{eventDetails.EntertainmentID}}" placeholder="Event Name"  disabled/>
          </div>
        </div>   
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">Start Date</label>
          <div class="col-md-7">
            <label class="col-form-label">{{eventDetails.EntertainmentStartDate | date:'M/dd/yyyy'}}</label>
          </div>
        </div>
        <div class="form-group row m-b-15" >
          <label class="col-md-3 col-form-label">Due Date</label>
          <div class="col-md-7">
            <label class="col-form-label">{{eventDetails.EntertainmentDueDate | date:'M/dd/yyyy'}}</label>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">isFree</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="{{eventDetails.EntertainmentisFree}}" placeholder="isFree"  disabled/>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">Poster Url</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="{{eventDetails.EntertainmentPosterUrl}}" placeholder="Poster Url" disabled />
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">Ticket Url</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="{{eventDetails.EntertainmentTicketUrl}}" placeholder="Ticket Url"  disabled/>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">City</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="{{eventDetails.EntertainmentCity}}" placeholder="City"  disabled/>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">District</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="{{eventDetails.EntertainmentDistrict}}" placeholder="District"  disabled/>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">Venue</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="{{eventDetails.EntertainmentVenue}}" placeholder="Venue" disabled />
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="col-md-3 col-form-label">Event Category</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="{{eventDetails.TagName}}" placeholder="Event Category" disabled/>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</ng-template>


<notifier-container></notifier-container>
