<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Admin</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Add</a></li>
</ol>

<h1 class="page-header">Admin Add Page</h1>
<br>
<div class="row">
  <div class="col-xl-6">
    <panel title=" ">
      <form >
        <fieldset>
          <legend class="m-b-15">Admin Add</legend>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Username</label>
            <div class="col-md-7">
              <input type="text" class="form-control input"  required  [(ngModel)]="model.Username" name="username" #username="ngModel"  placeholder="Username"/>
              <div class="m-t-4" *ngIf="!username.valid && username.touched" >
                <div *ngIf="username.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Password</label>
            <div class="col-md-7">
              <input type="text" class="form-control input"  required [(ngModel)]="model.Password" name="password" #password="ngModel" placeholder="Password" />
              <div class="m-t-4" *ngIf="!password.valid && password.touched" >
                <div *ngIf="password.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Name</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required  [(ngModel)]="model.AdminName" name="name" #name="ngModel"  placeholder="Name" />
              <div class="m-t-4" *ngIf="!name.valid && name.touched" >
                <div *ngIf="name.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Auth</label>
            <div class="col-md-7">
              <select #auth class="form-control" style="background-color: #636363" >
                <option value="Owner">Owner</option>
                <option value="Admin">Admin</option>
                <option value="Sub Admin">Sub Admin</option>
                <option value="S.Moderator">S.Moderator</option>
                <option selected value="Moderator">Moderator</option>
                <option value="Editor">Editor</option>
                <option value="Technical Crew">Technical Crew</option>
              </select>            
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Position</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.AdminPosition" name="position" #position="ngModel"  placeholder="Position" />
              <div class="m-t-4" *ngIf="!position.valid && position.touched" >
                <div *ngIf="position.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-md-7 offset-md-3">
              <button type="submit" class="btn btn-sm btn-primary m-r-5" style="padding: 5px 20px"
                      (click)="adminAdd(username.value,password.value,name.value,auth.value,position.value)">
                Add</button>
              <button type="submit" class="btn btn-sm btn-default m-r-5" style="padding: 5px 20px"
                      routerLink="/admin"> Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </panel>
  </div>
</div>
