<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Databot Log</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">List</a></li>
</ol>


<h1 class="page-header">Databot Log Page</h1>
<br>
<button type="submit" (click)="logClear()" class="btn btn-default m-b-15" style="height: 30px ;text-align: center ;padding-bottom: 20px;padding-top: 5px">Log Clear</button>
<div>
  <panel title="Admin Log Table">
    <!-- begin table-responsive -->
    <div class="table-responsive">
      <table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
        <thead>
        <tr>
          <th>#</th>
          <th>Bot Name</th>
          <th>Url</th>
          <th>Message</th>
          <th>Exception</th>
          <th class="width-200">RegDate</th>

        </tr>
        </thead>
        <tbody>
        <tr role="row" *ngFor="let log of model">
          <td>{{log.LogID}}</td>
          <td >{{log.BotName}}</td>
          <td>{{log.Url}}</td>
          <td>{{log.Message}}</td>
          <td >{{log.Exception}}</td>
          <td>{{log.RegDate | date:'M/dd/yyyy, HH:mm':'+0'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </panel>
</div>