<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Sport</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Add</a></li>
</ol>


<h1 class="page-header">Sport Add Page</h1>
<br>
<div class="row">
  <div class="col-xl-6">
    <panel title=" ">
      <form >
        <fieldset>
          <legend class="m-b-15">Sport Add</legend>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Sport Name</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.SportName" name="sportname" #sportname="ngModel" placeholder="Sport Name" />
              <div class="m-t-4" *ngIf="!sportname.valid && sportname.touched" >
                <div *ngIf="sportname.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">League Table Name</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.LeagueTableName" name="tablename" #tablename="ngModel" placeholder="League Table Name" />
              <div class="m-t-4" *ngIf="!tablename.valid && tablename.touched" >
                <div *ngIf="tablename.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-md-7 offset-md-3">
              <button type="submit" (click)="sportAdd(sportname.value,tablename.value)" class="btn btn-sm btn-primary m-r-5" style="padding: 5px 20px">Add</button>
              <button type="submit" class="btn btn-sm btn-default m-r-5" style="padding: 5px 20px" routerLink="/sport"> Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </panel>
  </div>
</div>