<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Announcement</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Update</a></li>
</ol>


<h1 class="page-header">Announcement Update Page</h1>
<br>
<br>
<div class="row">
  <div class="col-xl-6">
    <panel title=" ">
      <form >
        <fieldset>
          <legend class="m-b-15">Announcement Update</legend>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Announcement ID</label>
            <div class="col-md-7">
              <input type="text" class="form-control" value="{{model.AnnouncementID}}" #id placeholder="Announcement ID" disabled/>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Announcement Title</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.AnnouncementTitle" name="title" #title="ngModel" placeholder="Announcement Title" />
              <div class="m-t-4" *ngIf="!title.valid && title.touched" >
                <div *ngIf="title.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-form-label col-md-3">Announcement Content</label>
            <div class="col-md-7">
              <textarea class="form-control input" rows="3"  required [(ngModel)]="model.AnnouncementContent" name="content" #content="ngModel" placeholder="Announcement Content"></textarea>
              <div class="m-t-4" *ngIf="!content.valid && content.touched" >
                <div *ngIf="content.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-md-7 offset-md-3">
              <button type="submit" (click)="announcementUpdate(id.value,title.value,content.value)" class="btn btn-sm btn-primary m-r-5" style="padding: 5px 20px">Update</button>
              <button type="submit" class="btn btn-sm btn-default m-r-5" style="padding: 5px 20px" routerLink="/announcement"> Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </panel>
  </div>
</div>