<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">User</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">List</a></li>
</ol>


<h1 class="page-header">User Page</h1>
<br>
<div>
  <panel title="User Table">
    <div class="table-responsive">
      <table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Profession</th>
          <th>City</th>
          <th class="width-150">Statistic / Delete </th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" *ngFor="let user of model">
          <td >{{user.UserID}}</td>
          <td>{{user.UserName}}</td>
          <td>{{user.UserSurname}}</td>
          <td>{{user.UserProfession}}</td>
          <td>{{user.UserCity}}</td>
          <td class="text-center">
            <button routerLink="/userStatistic/{{user.UserID}}" class="btn btn-xs btn-primary m-r-10 mb-0">Statistic</button>
            <button  (click)="open(modalDialog, user.UserID )" class="btn btn-xs btn-warning  ">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </panel>
</div>

<ng-template #modalDialog let-c="close" let-d="dismiss">
  <div class="modal-header" >
    <h4 class="modal-title">User Delete</h4>
    <button type="button" style="color: white" class="close" (click)="d('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <p style="font-size: 14px">
        You have made a User deletion request. Are you sure you want to continue?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" (click)="c('Close click')">Close</button>
    <button (click)="deleteUser()" class="btn btn-danger">Delete</button>
  </div>
</ng-template>

<notifier-container></notifier-container>
