<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Category</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Update</a></li>
</ol>


<h1 class="page-header">Category Update Page</h1>
<br>
<div class="row">
  <div class="col-xl-6">
    <!-- begin panel -->
    <panel title=" ">
      <form>
        <fieldset>
          <legend class="m-b-15">Category Update</legend>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Category ID</label>
            <div class="col-md-7">
              <input type="text" class="form-control" #categoryID value="{{this.model.CategoryID}}" placeholder="Category ID" disabled/>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Category Name</label>
            <div class="col-md-7">
              <input type="text" class="form-control" #cateogoryname value="{{model.CategoryName}}" placeholder="Category Name" />
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-md-7 offset-md-3">
              <button type="submit" (click)="categoryUpdate(categoryID.value,cateogoryname.value)" class="btn btn-sm btn-primary m-r-5" style="padding: 5px 20px">Update</button>
            </div>
          </div>
        </fieldset>
      </form>

    </panel>
    <!-- end panel -->
  </div>

</div>
