<div class="login-cover">
  <div class="login-cover-image" [ngStyle]="{ 'background-image': 'url(' + this.bg + ')' }"></div>
  <div class="login-cover-bg"></div>
</div>

<div class="login login-v2" data-pageload-addclass="animated fadeIn ">
  <div class="login-header"style="margin-top: 700px">
    <div class="brand">
      <img src="../../../favicon.ico" alt="" class="m-r-10"><b>Dailyathon</b> Login
      <small>Dailyathon Admin Login</small>
    </div>
    <div class="icon">
      <i class="fa fa-lock"></i>
    </div>
  </div>
  <div class="login-content">
    <form class="margin-bottom-0" >
    <div class="form-group m-b-20">
      <input type="text" class="form-control form-control-lg input" placeholder="Username" required [(ngModel)]="model.Username" name="Username" #Username="ngModel" />
      <div class="m-t-4" *ngIf="!Username.valid && Username.touched" >
        <div *ngIf="Username.errors.required;"  style="color: crimson" >Required !</div>
      </div>
    </div>
    <div class="form-group m-b-20">
      <input type="password" class="form-control form-control-lg input" placeholder="Password" required [(ngModel)]="model.Password" name="Password" #Password="ngModel" />
      <div class="m-t-4" *ngIf="!Password.valid && Password.touched" >
        <div *ngIf="Password.errors.required;"  style="color: crimson" >Required !</div>
      </div>
    </div>
    <br>

    <div class="login-buttons">
      <button type="submit" (click)="onLogin(Username.value,Password.value)"  class="btn btn-success btn-block btn-lg">Sign me in</button>
    </div>
    </form>
  </div>
</div>