<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Event</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Add</a></li>
</ol>


<h1 class="page-header">Event Add Page</h1>
<br>

<div class="row">
  <div class="col-xl-6">
    <panel title=" ">
      <form>
        <fieldset>
          <legend class="m-b-15">Event Add</legend>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Event Name</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.EntertainmentName" name="eventname" #eventname="ngModel"  placeholder="Event Name" />
              <div class="m-t-4" *ngIf="!eventname.valid && eventname.touched" >
                <div *ngIf="eventname.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Event Content</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.EntertainmentContent" name="content" #content="ngModel"  placeholder="Event Content" />
              <div class="m-t-4" *ngIf="!content.valid && content.touched" >
                <div *ngIf="content.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Start Date</label>
            <div class="col-md-7">
              <div class="input-group">
                <input class="form-control input" required [(ngModel)]="model.EntertainmentStartDate" placeholder="yyyy-mm-dd" name="d1" #c1 ngbDatepicker #d1="ngbDatepicker">
                <div class="m-t-4" *ngIf="!c1.valid && c1.touched" >
                  <div *ngIf="c1.errors.required;"  style="color: crimson" >Required !</div>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15" >
            <label class="col-md-3 col-form-label">Due Date</label>
            <div class="col-md-7">
              <div class="input-group">
                <input class="form-control input" required [(ngModel)]="model.EntertainmentDueDate" placeholder="yyyy-mm-dd" name="d2" #c2 ngbDatepicker #d2="ngbDatepicker" >
                <div class="m-t-4" *ngIf="!c2.valid && c2.touched" >
                  <div *ngIf="c2.errors.required;"  style="color: crimson" >Required !</div>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">isFree</label>
            <div class="col-md-7">
              <select #isFree class="form-control" style="background-color: #636363" >
                <option value="0">Ücretsiz</option>
                <option value="1">Ücretli</option>
              </select>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Poster Url</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.EntertainmentPosterUrl" name="posterurl" #posterurl="ngModel" placeholder="Poster Url" />
              <div class="m-t-4" *ngIf="!posterurl.valid && posterurl.touched" >
                <div *ngIf="posterurl.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Ticket Url</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.EntertainmentTicketUrl" name="ticketurl" #ticketurl="ngModel" placeholder="Ticket Url" />
              <div class="m-t-4" *ngIf="!ticketurl.valid && ticketurl.touched" >
                <div *ngIf="ticketurl.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">City</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.EntertainmentCity" name="city" #city="ngModel"  placeholder="City" />
              <div class="m-t-4" *ngIf="!city.valid && city.touched" >
                <div *ngIf="city.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">District</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.EntertainmentDistrict" name="district" #district="ngModel"  placeholder="District" />
              <div class="m-t-4" *ngIf="!district.valid && district.touched" >
                <div *ngIf="district.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Venue</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.EntertainmentVenue" name="venue" #venue="ngModel" placeholder="Venue" />
              <div class="m-t-4" *ngIf="!venue.valid && venue.touched" >
                <div *ngIf="venue.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Performer</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.EntertainmentPerformer" name="performer" #performer="ngModel"  placeholder="Performer" />
              <div class="m-t-4" *ngIf="!performer.valid && performer.touched" >
                <div *ngIf="performer.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Event Category</label>
            <div class="col-md-7">
              <select #category class="form-control" style="background-color: #636363" >
                <option *ngFor="let event of events" value="{{event.TagID}}">{{event.TagName}}</option>
                </select>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-md-7 offset-md-3">
              <button type="submit"  class="btn btn-sm btn-primary m-r-5" style="padding: 5px 20px"
                      (click)="eventAdd(eventname.value,content.value,c1.value,c2.value,isFree.value,posterurl.value
                      ,ticketurl.value,city.value,district.value,venue.value,performer.value,category.value)">
                Add</button>
              <button type="submit" class="btn btn-sm btn-default m-r-5" style="padding: 5px 20px" routerLink="/event"> Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </panel>
  </div>
</div>