<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">League</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Update</a></li>
</ol>


<h1 class="page-header">League Update Page</h1>
<br>
<div class="row">
  <div class="col-xl-6">
    <panel title=" ">
      <form >
        <fieldset>
          <legend class="m-b-15">League Update</legend>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">League ID</label>
            <div class="col-md-7">
              <input type="text" value="{{model.LeagueID}}" class="form-control" #id placeholder="League ID"  disabled/>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">League Name</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.LeagueName" name="leaguename" #leaguename="ngModel"  placeholder="League Name" />
              <div class="m-t-4" *ngIf="!leaguename.valid && leaguename.touched" >
                <div *ngIf="leaguename.errors.required;"  style="color: crimson" >Required !</div>
              </div>            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">League Country</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.LeagueCountry" name="country" #country="ngModel"  placeholder="League Country" />
              <div class="m-t-4" *ngIf="!country.valid && country.touched" >
                <div *ngIf="country.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">League Url</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.LeagueUrl" name="url" #url="ngModel"  placeholder="League Url" />
              <div class="m-t-4" *ngIf="!url.valid && url.touched" >
                <div *ngIf="url.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Sport Name</label>
            <div class="col-md-7">
              <select #sportID class="form-control" style="background-color: #636363" >
                <option *ngFor="let sport of sportModel" value="{{sport.SportID}}" [selected]="sport.SportID==model.SportID">{{sport.SportName}}</option>
              </select>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-md-7 offset-md-3">
              <button type="submit" (click)="leagueUpdate(id.value,leaguename.value,country.value,url.value,sportID.value)" class="btn btn-sm btn-primary m-r-5" style="padding: 5px 20px">Update</button>
              <button type="submit" class="btn btn-sm btn-default m-r-5" style="padding: 5px 20px" routerLink="/league"> Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </panel>
  </div>
</div>