<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Admin</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Update</a></li>
</ol>


<h1 class="page-header">Admin Update Page</h1>
<br>
<div class="row">
  <div class="col-xl-6">
    <!-- begin panel -->
    <panel title=" ">
      <form >
        <fieldset>
          <legend class="m-b-15">Admin Update</legend>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">AdminID</label>
            <div class="col-md-7">
              <input type="text" value="{{model.AdminID}}" class="form-control" #id placeholder="AdminID" disabled/>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Name</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required  [(ngModel)]="model.AdminName" name="name" #name="ngModel" placeholder="Name" />
              <div class="m-t-4" *ngIf="!name.valid && name.touched" >
                <div *ngIf="name.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Auth</label>
            <div class="col-md-7">
              <select #auth class="form-control" style="background-color: #636363" >
                <option [selected]="model.AdminAuth=='Owner'" value="Owner">Owner</option>
                <option [selected]="model.AdminAuth=='Admin'" value="Admin">Admin</option>
                <option [selected]="model.AdminAuth=='Sub Admin'" value="Sub Admin">Sub Admin</option>
                <option [selected]="model.AdminAuth=='S.Moderator'" value="S.Moderator">S.Moderator</option>
                <option [selected]="model.AdminAuth=='Moderator'" value="Moderator">Moderator</option>
                <option [selected]="model.AdminAuth=='Editor'" value="Editor">Editor</option>
                <option [selected]="model.AdminAuth=='Technical Crew'" value="Technical Crew">Technical Crew</option>
              </select> 
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Position</label>
            <div class="col-md-7">
              <input type="text" class="form-control input" required [(ngModel)]="model.AdminPosition" name="position" #position="ngModel"  placeholder="Position" />
              <div class="m-t-4" *ngIf="!position.valid && position.touched" >
                <div *ngIf="position.errors.required;"  style="color: crimson" >Required !</div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-md-7 offset-md-3">
              <button type="submit" class="btn btn-sm btn-primary m-r-5" style="padding: 5px 20px"
                      (click)="adminUpdate(id.value,name.value,auth.value,position.value)">
                Update</button>
              <button type="submit" class="btn btn-sm btn-default m-r-5" style="padding: 5px 20px"
                      routerLink="/admin"> Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </panel>
  </div>
</div>
