<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Tag</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">List</a></li>
</ol>


<h1 class="page-header">Tag Page</h1>
<br>
<button type="submit" routerLink="/tagAdd" class="btn btn-success m-b-15" style="height: 30px ;text-align: center ;padding-bottom: 20px;padding-top: 5px">Tag Add</button>
<div>
  <panel title="Tag Table">
    <div class="table-responsive">
      <table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
        <thead>
        <tr>
          <th>#</th>
          <th>Tag Name</th>
          <th>Category Name</th>
          <th class="width-200">Update / Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" *ngFor="let tag of model">
          <td>{{tag.TagID}}</td>
          <td >{{tag.TagName}}</td>
          <td>{{tag.CategoryName}}</td>
          <td class="text-center">
            <button routerLink="/tagDetails/{{tag.TagID}}" class="btn btn-xs btn-success m-r-10 mb-0">Update</button>
            <button (click)="open(modalDialog, tag.TagID )" class="btn btn-xs btn-warning">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </panel>
</div>


<ng-template #modalDialog let-c="close" let-d="dismiss">
  <div class="modal-header" >
    <h4 class="modal-title">Tag Delete</h4>
    <button type="button" style="color: white" class="close" (click)="d('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <p style="font-size: 14px">
      You have made a Tag deletion request. Are you sure you want to continue ?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" (click)="c('Close click')">Close</button>
    <button (click)="deleteTag()" class="btn btn-danger">Delete</button>
  </div>
</ng-template>
